$main-font: 'Montserrat';
$description-font: 'Roboto';
$title-font: 'Kaushan Script';
$main-color: #fff;
$secondary-color: #000;
$highlight-color: #f38181;
$background-color: #95e1d3;
$description-color: #999999;
$font-secondary-color: #cccccc;
$article-color: #f8f8f8;
$border-color: rgba(255, 255, 255, 0.3);
$border-secondary-color: rgba(187, 180, 180, 0.6);
$border-dark-color: rgba(0, 0, 0, 0.1);
$menu-hover-color: rgb(238, 255, 0);